body{
    background:url("../images/jaybg.jpg") no-repeat fixed;
    background-size:100% 100%;
    overflow: hidden;
}
ul{
    width: 200px;
    height: 200px;
    /*background-color: red;*/
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 100px;
    transform-style: preserve-3d;
    animation: move 6s linear 0s infinite normal;
}
ul li{
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    background:black;
}
ul li img{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 5px solid hotpink;
}
ul:hover{
    animation-play-state: paused;

}
ul:hover li img{
    opacity: 0.3;
}
ul li:hover img{
    opacity: 1;
}
ul li:nth-child(1){
    transform: rotateY(60deg) translateZ(200px);
}
ul li:nth-child(2){
    transform: rotateY(120deg) translateZ(200px);
}
ul li:nth-child(3){
    transform: rotateY(180deg) translateZ(200px);
}
ul li:nth-child(4){
    transform: rotateY(240deg) translateZ(200px);
}
ul li:nth-child(5){
    transform: rotateY(300deg) translateZ(200px);
}
ul li:nth-child(6){
    transform: rotateY(360deg) translateZ(200px);
}
@keyframes move {
    from{transform: rotateX(-10deg) rotateY(0deg);
    }
    to{
        transform: rotateX(-10deg) rotateY(360deg);
    }
}
.heart{
    width: 173px;
    height: 157px;
    position: absolute;
    left: 100px;
    bottom: 100px;
    animation: sport 10s linear 0s infinite normal;
}
@keyframes sport {
    0%{
        left: 100px;
        bottom: 100px;
        opacity: 1;
    }
    20%{
        left: 300px;
        bottom: 300px;
        opacity: 0;
    }
    40%{
        left: 600px;
        bottom: 600px;
        opacity: 1;
    }
    60%{
        left: 900px;
        bottom: 400px;
        opacity: 0;
    }
    80%{
        left: 1300px;
        bottom: 100px;
        opacity: 1;
    }
    100%{
        left: 900px;
        bottom: -200px;
        opacity: 0;
    }

}